.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

.button--primary {
  background-color: $basic-green;
  color: #ffffff;
}
