.cooperation__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
}
