.example {
  background-color: #eaeaea;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__price-title,
.example__price-number {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
