.input-email {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid #cdcdcd;
  color: $dark-grey;
}
