.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__name {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #111111;
  text-transform: uppercase;
}

.site-name__first-letter {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #444444;
}
