.main-header {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header a {
  color: #000000;
  text-decoration: none;
}
