.programs-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.programs-item__description {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
