.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}

.programs__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}


.programs__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 10px;
}

.programs__item {
  background-color: $basic-grey;
  list-style: none;
}
