.programs {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.programs__list {
  padding: 20px 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    padding: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 62px;
    padding-bottom: 71px;
    display: flex;
    gap: 80px;
  }
}

.programs__item {
  background-color: $basic-grey;
  box-sizing: border-box;
  margin-bottom: 20px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
